node_modules/
.env
.env.local
.vercel/
.vercel
robot-wallets.json
public/
frontend/bounties-app/.env.local
frontend/bounties-app/node_modules/
frontend/bounties-app/dist/

# Next.js build output
.next/
out/
